header {
    margin: 21px;
}

  /* 부모 요소 스타일 */
.iframe-container {
    width: 100%; /* 부모 요소의 너비를 100%로 설정 */
    height: 500px; /* 고정 높이 500px */
    position: relative; /* 자식 요소 위치 지정 가능 */
    border: 2px solid #333; /* 부모 요소 테두리 */
    overflow: hidden; /* 자식 요소가 부모 크기를 넘어설 경우 숨김 */
    margin-bottom: 20px; /* 아래 여백 */
}

/* iframe 스타일 */
.my-iframe {
    width: 100%; /* 너비 100% */
    height: 100%; /* 높이 100% */
    border: none; /* 테두리 없음 */
    /* 추가적인 스타일 옵션 */
    border-radius: 10px; /* 모서리 둥글게 */
}