section {
    display: inline-block;
}

section > h1 {
    text-shadow: 1px 2px 5px #e0504b, 1px 4px 7px #e3fa17;
    text-decoration: underline;
    font-weight: bolder;
}

section > div {
    border: 1px solid #000;
    background-color: #c5e7f5fb;
    display: inline-block;
}

section > div > p {
    border: 1px solid #000;
    background-color: #fffffffb;
    display: block;
}

section > div > p span {
    border: 1px solid #000;
    background-color: #252424fb;
    color: #ffffff;
    display: block;
}

input {
    cursor: pointer;
}

.blue {
    color: #00f;
}

.red {
    color: #f00;
}

.green {
    color: green;
}

.aqua {
    color : aqua;
}

/* page 399 */
.s1 .top1 {
    width:600px;
    height:300px;
    background:url(../images/bg2.png) no-repeat top left;
    background-size:cover;
}

/* page 399 */
.s2 .top2 {
    width:600px;
    height:300px;
    background:url(../images/bg2.png) no-repeat top left;
    background-size:cover;
}

/* page 400 */
.s3 > div {
    margin-top:20px;
    margin-left:50px;
}

/* page 401 */
.s4 > div {
    margin-top:20px;
    margin-left:50px;
}

/* page 402 */
.s5 > div {
    margin-top:20px;
    margin-left:50px;
}

/* page 405 */
.s6 > div {
    background:#000;
    color:#fff;
    text-align:center;
}

/* page 410 */
.s7 > div {
    margin-top:20px;
    margin-left:50px;
}

/* page 411 */
.s8 > div {
    margin-top:20px;
    margin-left:50px;
}

/* page 416 */
.s9 > div #container {
    position:relative;
    text-align:center;				
    margin-top:10px;
    margin-left:30%;
}
.s9 > div h2 {
    font-size:2em;
}
.s9 > div h1{
    font-size:3.5em;
}
.s9 > div a:link, .s9 > div a:visited { 
    text-decoration:none;
    color:#222;
}
.s9 > div a:hover {
    cursor:pointer;
}
.s9 > div video#bg {
    left:0;
    top:0;
    width:auto;
    height:auto;
    min-width:100%;
    min-height:100%;
    z-index:-100;
    background:url(../images/flame.jpg) left top no-repeat;
    background-size: cover;
}

/* page 419 */
.s10 > div #container10 {
    width:600px;
    margin:10px auto;
    padding:20px;
}

/* page 419 */
.s11 > div #container11 {
    width:600px;
    margin:10px auto;
    padding:20px;
}