section > h1 {
    text-shadow: 1px 2px 5px #804a4a, 1px 4px 7px #e3fa17 ;
    text-decoration: underline;;
    font-weight: bolder;
}

section > div {
    border: 1px solid #000;
    background-color: #cececed2;
}


section pre {
    border: 1px solid #000;
    background-color: #e1ff72;
}