section.s1 > div > p.align-left {
    text-align: left;
}

section.s1 > div > p.align-right {
    text-align: right;
}

section.s1 > div > p.align-center {
    text-align: center;
}

section.s1 > div > p.align-justify {
    text-align: justify;
}

section.s2 > div > p.indent1 {
    text-indent: 15px;
}

section.s2 > div > p.indent2 {
    text-indent: 5%;
}

section.s3 > div > p.content {
    border: 1px solide #ccc;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

section.s3 > div > p.content:hover {
    overflow: visible;
}

section.s4 > div > p {
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}

section.s5 > div#container {
    width: 650px;
    margin: 0 auto;
    padding: 5px;
}
section.s5 > div#container > div#check {
    width: 640px;
    border: 1px solid #ccc;
}

section.s5 > div h1 {
    color: white;
    font-size: 1em;
    background: #222;
    margin: 0;
    padding: 10px;
}

section.s5 h2 {
    color: #ff0000;
    font-size: 1.2em;
    text-align: center;
}

section.s5 p {
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bold;
    text-align: center;
}

section.s5 .accent {
    color: blue;
}

section.s5 .smalltext {
    font-size: 0.7em;
}

section.s6 .sqbullet {
    list-style-type: square;
}

section.s6 .nobullet {
    list-style-type: none;
}

section.s7 .book1 {
    list-style-type: lower-alpha;
}
section.s7 .book2 {
    list-style-type: upper-roman;
}

section.s8 ul {
    list-style-image: url('../images/dot.png');
}

section.s9 .inside {
    list-style-position: inside;
}

section.s10 ul {
    list-style-position: inside;
    list-style: none;
}